<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="bg-2">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 m-b-xs-30">
                            <img src="../images/mt-0996-logo.png" alt="image" class="w-50">
                            <h2 class="color-f f-30 f-xs-20 f-family-poppins f-weight-500">JOB SEEKER, Inc</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing  labore et dolore magna aliqua uat veniama icing</p>
                            <ul class="list-inline m-t-20">
                                <li><a href="#"><i class="fa fa-facebook icon icon-40 rad-3 bg-4f84c4"></i></a></li>
                                <li><a href="#"><i class="fa fa-google icon icon-40 rad-3 bg-f2552c"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter icon icon-40 rad-3 bg-95dee3"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram icon icon-40 rad-3 bg-fe718b"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 m-t-60 m-t-xs-30">
                            <h4>Infomation</h4>
                            <ul class="list">
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Licenses</a></li>
                                <li><a href="#">Post a job</a></li>
                                <li><a href="#">Create a resume</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 m-t-60 m-t-xs-30">
                            <h4>Community</h4>
                            <ul class="list">
                                <li><a href="#">Help center</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Carrer advide</a></li>
                                <li><a href="#">Specials</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3 m-t-60 m-t-xs-30">
                            <h4>Newsletter</h4>
                            <input type="text" class="form-item no-border m-t-5" placeholder="Enter your email">
                            <a href="#" class="ht-btn bg-4f84c4 m-t-30">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom bg-1">
                <div class="container">
                    <p>© 2017 Designed by <a href="#" class="color-9">t3theme</a>. All rights reserved</p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
